/* Width */
table.sample {width: 50%; background-color: #f8dce0;}
img.sample {width: 256px; height: 256px;}

/* MaxWidth */
img.sample {max-width: 50px;}

/* MinWidth */
img.sample {min-width: 300px;}

/* height */
table.sample {height: 100px; background-color: #f8dce0;}
img.sample {width: 50%; height: 50%;}

/* Maxheight */
img.sample {max-height: 50px;}

/* Minheight */
img.sample {min-height: 300px;}