/* color, background */
p.sample {
    color: #000000;
    background-color: #99cc00
}

/* font */
p.sample {font: bold large/150% "ＭＳ 明朝"; }

/* line-height */
p.sample1 {line-height: normal;}
p.sample2 {line-height: 15px;}
p.sample3 {line-height: 1.5;}
p.sample4 {line-height: 200%;}

/* text-align */
p.sample {
	width:100px;
	background-color:#99cc00;
}

/* text-align:justify */
p.sample {
	width:200px;
	background-color:#99cc00;
	text-align:justify;
}

/* vertical-align */
#sample div {background-color:#ccccff; margin:4px;}
.rei {font-size:60px;}
.oya {font-size:30px; background-color:#ccffcc;}
.sample1 {font-size:12px; background-color:#ffccff; vertical-align:baseline;}
.sample2 {font-size:12px; background-color:#ffccff; vertical-align:top;}
.sample3 {font-size:12px; background-color:#ffccff; vertical-align:middle;}
.sample4 {font-size:12px; background-color:#ffccff; vertical-align:bottom;}
.sample5 {font-size:12px; background-color:#ffccff; vertical-align:text-top;}
.sample6 {font-size:12px; background-color:#ffccff; vertical-align:text-bottom;}
.sample7 {font-size:12px; background-color:#ffccff; vertical-align:super;}
.sample8 {font-size:12px; background-color:#ffccff; vertical-align:sub;}

/* text-decoration */
p.sample1 {text-decoration: none;}
p.sample2 {text-decoration: underline;}
p.sample3 {text-decoration: overline;}
p.sample4 {text-decoration: line-through;}
p.sample5 {text-decoration: blink;}
p.sample6 {text-decoration: underline dotted red;}

/* text-underline-position */
p.sample {text-decoration: underline;}

/* text-indent */
p.sample {
	width:200px;
	background-color:#99cc00;
}

/* text-transform */
p.sample1 {text-transform: none;}
p.sample2 {text-transform: capitalize;}
p.sample3 {text-transform: uppercase;}
p.sample4 {text-transform: lowercase;}
p.sample5 {text-transform: full-width;}

/* letter-spacing */
div.sample1 {letter-spacing: 10px;}
div.sample2 {letter-spacing: 30px;}
div.sample3 {letter-spacing: -2px;}

/* word-spacing */
div.sample1 {word-spacing: 10px;}
div.sample2 {word-spacing: 30px;}
div.sample3 {word-spacing: -8px;}
div.sample4 {word-spacing: 50%;}
div.sample5 {word-spacing: -50%;}

/* text-shadow */
p.sample1 {text-shadow:3px 3px 2px #0000ff;}

