@charset "UTF-8";

// サイトの基本設定

// 幅関係の設定
$width-base: 1200px;
$width-main: 800px;
$width-side: 360px;

// フォント関係の設定
$font-base: "Yu Gothic", Sans-Serif;
$font-serif: "Yu Mincho", serif;

// 色関係の設定
$color-main: #0062b2;
$color-sub: #def1fa;
$color-font: #333;
$color-link: #ff8c28;

// ブレイクポイント
$breakpoint: (
    sp: "screen and (max-width:599px)"
    pc: "screen and (min-width:600px)"
);

// Map型
$sns-colors: (
    twitter: #1b95e0,
    facebook: #3b5998,
    googleplus: #dc4e41
);

.sns {
    &__btn {
        background-repeat: no-repeat;
        @each $key, $value in $sns-colors {
            &.-#{key} {
                background-image: url(/img/icon_#{$key}.png);
                background-color: $value;
            }
        }
    }
}