.box {
    margin: 0 0 30px;
    padding: 15px;
    border: 1px solid #ccc;
}

.item {
    @extend .box;
}

// 継承
.notes {
    color: #d93c25;
    font-weight: bold;
    text-align: center;
}
.bd {
    border-top: 1px solid #900;
    border-bottom: 1px solid #900;
}

// 複数継承
.item {
    small {
        display: block;
        padding: 10px;
        @extend .notes;
        @extend .bd;
    }
}

// 連鎖継承
.att {
    color: red;
    font-weight: normal;
}
.attBox {
    @extend .att;
    padding: 15px;
    border: 1px solid red;
}

.notes {
    @extend .attBox;
}

// メディアクエリ
@media all and (orientation:landscape) {
    %btnBase {
        display: inline-block;
        padding: 5px 10px;
        background: #eee;
    }
    a {
        @extend %btnBase;
    }
}

.btn {
    @extend %btnBase !optional;
}

// ミックスイン
@mixin boxSet {
    padding: 15px;
    background: #999;
    color: white;
}

// ミックイン呼び出し
.relatedArea {
    @include boxSet;
}

// @at-root
.block {
    .element-A {
        width: 80%;
    }
    @at-root {
        .element-B {
            width: 100%;
        }
        .element-C {
            width: 50%;
        }
    }
}

// データタイプ
.DataTypes {
    property: type-of(10%);
    property: type-of(red);
}

// if文
$generalStyle: true;

@if $generalStyle {
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
}

$getStyle: 0;

@mixin style {
    @if $getStyle == 1 {
        margin: 0 0 30px;
        padding: 15px;
        background: #eee;
    }
    @else if $getStyle == 2 {
        margin: 0 10px 15px;
        padding: 20px 15px;
        border: 2px solid #333;
    }
    @else {
        margin: 0 0 10px;
    }
}

.box {
    @include style;
}

// for文
@for $value from 1 through 3 {
    .throughSample_#{$value} {
        margin-bottom: 1px * $value;
    }
}

@for $value from 1 through 3 {
    .thSample_#{$value} {
        margin-bottom: 1px * $value;
    }
}

// while文
$value: 20px;
@while $value > 0 {
    .mt_#{$value} {
        margin-top: $value + px;
    }
    .mb_#{$value} {
        margin-bottom: $value + px;
    }
    $value: $value - 10;
}

// each文
$nameList: top, about, company, content;

@each $name in $nameList {
    .body-#{$name} {
        background-image: url(../img/bg_#{$name}.png);
    }
}

// 関数
$margin: -15px;

section {
    margin-left: $margin;
    .item {
        float: left;
        width: 200px;
        margin-left: abs($margin);
    }
}

// function文
@function halfSize($value) {
    @return round($value / 2);
}

.boxA {
    width: halfSize(105px);
}

// debug
$value: 500;
@function debugTest() {
    @debug $value;
}

// インターポレーション
$imgPath: '../common/images';

#main {
    background: url(#{imgPath}main.png);
}