@charset "utf-8";

/* コンテンツを横に表示する。*/
.container {
    display: flex; 
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /*flex-wrap: nowrap; */
    flex-wrap: wrap;
}

.item {
    background: #0bd; /* 背景色をつける。 */
    color: #fff; /* 文字に色をつける。 */
    margin: 10px; /* コンテンツ間隔の調整を行う。 */
    padding: 10px; /* コンテンツ幅の調整を行う。 */
    order: 2;
}

/* コンテンツを縦に表示する。*/
.container2 {
    display: block; 
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
}

.item2 {
    background: #0bc; /* 背景色をつける。 */
    color: #fff; /* 文字に色をつける。 */
    margin: 10px; /* コンテンツ間隔の調整を行う。 */
    padding: 10px; /* コンテンツ幅の調整を行う。 */
}



